/* stars.css */

#stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}


@keyframes animStar {
  from { transform: translateY(0); }
  to { transform: translateY(-2000px); }
}
